[Unit]
Description=Blinken.org server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
WorkingDirectory=/root/blinken/server
ExecStart=/root/blinken/server/server.js
ProtectHome=no

[Install]
WantedBy=multi-user.target
